
<div class="hero-wrap ftco-degree-bg" style="background-image: url('/tech-blog/images/bg_1.webp');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Welcome to the Ultimate Tech Blog</h1>
                    <p style="font-size: 18px;">Stay updated with the latest in technology. Explore insightful articles and deep dives into cutting-edge tech trends and innovations.</p>

                </div>
            </div>
        </div>
    </div>
</div>
