
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<section class="ftco-section ftco-about">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('/tech-blog/images/about.webp');">
            </div>
            <div class="col-md-6 wrap-about ftco-animate">
                <div class="heading-section heading-section-white pl-md-5">
                    <span class="subheading">About Us</span>
                    <h2 class="mb-4">Welcome to TechBlog</h2>

                    <p>At TechBlog, we are passionate about all things technology. From the latest gadgets and software to cutting-edge innovations and industry trends, we cover it all. Our goal is to provide insightful, up-to-date content that keeps you informed and inspired.</p>
                    <p>Whether you are a tech enthusiast, a professional in the field, or simply curious about the digital world, TechBlog offers a wealth of information and resources. Join us on a journey through the ever-evolving landscape of technology, where knowledge meets curiosity.</p>
                    <p><a href="/Article/Index/" class="btn btn-primary py-3 px-4">Read Our Articles</a></p>
                </div>
            </div>
        </div>
    </div>
</section>


