@model CreateArticleDto

@{
    ViewData["Title"] = "AddArticle";
    Layout = "~/Views/UILayout/Index.cshtml";

	var successMessage = TempData["SuccessMessage"] as string;
	var errorMessage = TempData["ErrorMessage"] as string;
}



<section class="ftco-section contact-section">
	<div class="container">
		<div class="row d-flex mb-5 contact-info">

			<div class="col-md-12 block-9 mb-md-5">
				@if (!string.IsNullOrEmpty(successMessage))
				{
					<div class="alert alert-success">
						@successMessage
					</div>
				}

				@if (!string.IsNullOrEmpty(errorMessage))
				{
					<div class="alert alert-danger">
						@errorMessage
					</div>
				}

				<form method="post" asp-controller="Article" asp-action="AddArticle" class="bg-light p-5 contact-form">
					<input type="hidden" asp-for="AppUserId" value="@ViewBag.userId" />
					<div class="form-group">
						<input type="text" asp-for="Title" class="form-control" placeholder="Your Article Title">
						<span class="text-danger" asp-validation-for="Title"></span>
					</div>
					<div class="form-group">
						<input type="text" asp-for="ImageUrl" class="form-control" placeholder="Your Article Image Url">
						<span class="text-danger" asp-validation-for="ImageUrl"></span>

					</div>
					<div class="form-group">
						<select class="form-control" asp-for="CategoryID" asp-items="@ViewBag.Categories">
							<option disabled selected>Please Select Category</option>
						</select>
					</div>
					<div class="form-group">
						<textarea asp-for="Content" cols="30" rows="10" class="form-control" placeholder="Content"></textarea>
						<span class="text-danger" asp-validation-for="Content"></span>

					</div>
					<div class="form-group">
						<input type="submit" value="Post Your Article" class="btn btn-primary py-3 px-5">
					</div>
				</form>
				<!-- contact-warning -->
				
			</div>
		</div>

	</div>
</section>


